{
	"GAME_SERVER_URL" : "ws://localhost:8910",
	"GAME_SERVER_PORT" : 8910,
	"CHAT_SERVER_URL" : "http://127.0.0.1:8000/chat",
	"CHAT_STREAM_URL" : "ws://127.0.0.1:80/api/ws/npc-chat",
	"SCORE_SERVER_URL" : "http://127.0.0.1:8000/score",
}
